<div class="container">
  <h1>My Cocktail</h1>
  <ul>
    <% @cocktails.each do |cocktail| %>
    <li>
      <%= link_to cocktail.name, cocktail_path(cocktail), class: 'btn btn-primary' %>
    </li>
    <% end %>
  </ul>


</div>
